/* ---- reset ---- */
body { 
    margin: 0;
    padding: 0;
    font:normal 75% "metropolis-regular", sans-serif;
    background-color: #000000;
} 
canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ---- particles.js container ---- */
#particles-js { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0;
    opacity: .85;
}
img {
    border-radius: 50%;
}
.btn:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}
h4 {
    color: #ffffff;
}
h6 {
    color: #ffffff;
    font-weight: bold;
}
p {
    color: #ffffff;
    font-size: 14px;
}
.gradient-overlay {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background: linear-gradient(to right, black 0%, black 20%, transparent 100%);
}
.container {
    max-width: 680px;
    position: relative;
}